* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;

  background-image: linear-gradient(
    45deg,
    rgb(116, 143, 252, 0.5),
    rgb(165, 216, 255, 0.5)
  );
}

.container {
  max-width: 31rem;
  margin: 10rem auto;
  padding: 0.8rem;
}

.card {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 25px;

  padding: 4.8rem 2.4rem;
}

.img {
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.heading-primary {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.heading-secondary {
  font-size: 1rem;
  color: #999;
  font-weight: 300;
  margin-bottom: 2.4rem;
}

.card-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 3.2rem;
}

.contact-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.2rem;
}
.contact-item {
  padding: 0.4rem 3.2rem;
  border-radius: 25px;
  transition: all 0.4s;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.link:link,
.link:visited {
  color: #f7f7f7;
  font-size: 1rem;
  text-decoration: none;
}

.github {
  color: #333;
  background-color: #adb5bd;
}

.github:hover {
  background-color: #ced4da;
}

.linkedin {
  background-color: #0077b5;
}
.linkedin:hover {
  background-color: #1a85bc;
}

.email {
  background-color: #9dc9b6;
}

.email:hover {
  background-color: #a7cebd;
}
